<!--
	Dianoga image optimization framework configuration
	Automatically optimizes Sitecore media library images before sending them to the client,
	including if they have been resized by Sitecore
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

		<dianoga>
			<!--
				OPTIMIZERS
				You can register the optimizers you want Dianoga to use here.
				The first optimizer that says it can optimize something wins.
				Optimizers inherit IImageOptimizer and are instantiated with the Sitecore Factory,
				so you can inject parameters and property values.
			-->
			<optimizers>
				<!-- note: for these paths you can use web-relative paths (/foo, ~/foo) as well as absolute (c:\...) -->
				<optimizer type="Dianoga.Png.PngOptimizer, Dianoga">
					<Path>/Dianoga Tools/PNGOptimizer/PNGOptimizerDll.dll</Path>
				</optimizer>
				<optimizer type="Dianoga.Jpeg.JpegOptimizer, Dianoga">
          <Path>/Dianoga Tools/libjpeg/jpegtran.exe</Path>
				</optimizer>

				<!-- Optionally, you can use a PNG Quantizer for the PNG optimization instead of PngOptimizer.
				Note: this is a lossy optimization. However, it is also all native .NET.
				<optimizer type="Dianoga.Png.PngQuantOptimizer, Dianoga" />-->
			</optimizers>
		</dianoga>
</configuration>